<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.flabcaloriecounter.feed.adapter.out.persistence.FeedMapper">
    <insert id="write"
            parameterType="com.example.flabcaloriecounter.feed.adapter.in.web.FeedInfoDto">
        INSERT INTO feed(contents, user_id)
        values (#{contents}, #{userId})
    </insert>

    <select id="isExistId" resultType="boolean">
        SELECT EXISTS(select user_Id from USER_TABLE where user_Id = #{userId})
    </select>

    <insert id="insertImage" parameterType="java.util.List">
        insert into PHOTO(photo_name, photo_path)
        values
        <foreach collection="uploadFile" item="image" separator=",">
            (
            #{image.imageName},
            #{image.imagePath}
            )
        </foreach>
    </insert>

    <!--    <update id="update">-->
    <!--        update feed-->
    <!--        set content = #{content}-->
    <!--        where feed_id = #{feedId}-->
    <!--    </update>-->
</mapper>