<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.flabcaloriecounter.user.adapter.out.persistence.UserMapper">
    <insert id="signUp"
            parameterType="com.example.flabcaloriecounter.user.application.port.in.response.SignUpForm">
        INSERT INTO user_table(user_id, user_name, user_password, email, weight, user_type,
                               judge_status)
        values (#{userId}, #{userName}, #{userPassword}, #{email}, #{weight}, #{userType},
                #{judgeStatus})
    </insert>

    <select id="hasDuplicatedId" resultType="boolean">
        SELECT EXISTS(select user_id from user_table where user_id = #{userId})
    </select>

    <select id="findByUserId" resultType="com.example.flabcaloriecounter.user.domain.User">
        SELECT ID,
               user_id,
               user_name,
               user_password,
               email,
               weight,
               withdrawal_reason,
               join_date,
               user_status,
               user_type,
               judge_status,
               photo_link
        FROM user_table
        WHERE USER_ID = #{userId}
    </select>
</mapper>
